version: '3.9'
services:
  redis:
    image: redis
    ports:
      - 6739:6379
    container_name: redis
  garmin:
    build: .
    environment:
      - email=$EMAIL
      - password=$PASS
    links:
      - redis
    container_name: garmin
    entrypoint: python garmin_redis/redis_helpers.py